<!DOCTYPE html>
<html>
<head>
    <title>Register Patron</title>
</head>
<body>

<h2>Register Patron</h2>

<form method="POST">

    <input type="text"
           name="first_name"
           placeholder="First Name"
           required>

    <br><br>

    <input type="text"
           name="last_name"
           placeholder="Last Name"
           required>

    <br><br>

    <input type="email"
           name="email"
           placeholder="Email"
           required>

    <br><br>

    <input type="text"
           name="phone"
           placeholder="Phone">

    <br><br>

    <button type="submit">
        Register
    </button>

</form>

</body>
</html>