<!DOCTYPE html>
<html>
<head>
    <title>Inquiry 5</title>
</head>
<body>
    <h1>Available Entry Classes per Gathering</h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>Gathering Name</th>
            <th>Entry Class</th>
            <th>Price</th>
            <th>Allocated Seats</th>
        </tr>
        {% for row in result %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
